@charset "UTF-8";
@font-face {
  font-family: BertR;
  src: url("/fonts/BertSans-Regular.ttf");
}
@font-face {
  font-family: BertB;
  src: url("/fonts/BertSans-Bold.ttf");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}
:focus a:focus, :focus a:active, :active a:focus, :active a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/*----------------------------------------*/
@keyframes lineAnimate {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}
body {
  font-family: BertR;
}

.container {
  width: 100%;
  max-width: 1290px;
  height: 100%;
  margin: 0 auto;
}

.header {
  margin-top: 34px;
  height: 86px;
  margin-bottom: 120px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #000;
}
.header__left-block {
  width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left-block_title {
  font-family: BertB;
  font-size: 65px;
  text-transform: uppercase;
}
.header__left-block_subtitle {
  font-family: BertR;
  font-size: 20px;
}

.first-section__container {
  height: 700px;
  display: flex;
  justify-content: space-between;
}
.first-section__left-block {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-section__left-block_title {
  line-height: 110%;
  font-size: 55px;
  font-family: BertB;
  color: #1E689D;
}
.first-section__left-block_subtitle {
  font-size: 20px;
}
.first-section__left-block img {
  border-radius: 3px;
}
.first-section__right-block {
  width: 49%;
  display: flex;
  justify-content: space-between;
}
.first-section__right-block_card_default, .first-section__right-block_card_up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-section__right-block_card_up {
  transform: translateY(-80px);
}
.first-section__right-block_card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 335px;
  width: 300px;
}
.first-section__right-block_card-item:hover div img {
  transform: scale(1.3);
}
.first-section__right-block_card-item_title {
  font-family: BertB;
  font-size: 28px;
}
.first-section__right-block_card-item_title:after {
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  background: #000;
}
.first-section__right-block_card-item_subtitle {
  font-size: 14px;
  color: #777777;
}
.first-section__right-block_card-item_img-block {
  overflow: hidden;
  border-radius: 3px;
}
.first-section__right-block_card-item img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .first-section__container {
    height: 630px;
  }
  .first-section__left-block_title {
    font-size: 43px;
  }
  .first-section__right-block {
    width: 50%;
  }
  .first-section__right-block_card-item {
    width: 230px;
    height: 290px;
  }
  .first-section__right-block_card-item_title {
    font-size: 22px;
  }
  .first-section__right-block_card-item_subtitle {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .first-section__container {
    height: 500px;
  }
  .first-section__left-block {
    width: 45%;
  }
  .first-section__left-block_title {
    font-size: 30px;
  }
  .first-section__left-block_subtitle {
    font-size: 15px;
    margin-bottom: 70px;
  }
  .first-section__right-block {
    width: 53%;
  }
  .first-section__right-block_card-item {
    width: 185px;
    height: 235px;
  }
  .first-section__right-block_card-item_title {
    font-size: 18px;
  }
  .first-section__right-block_card-item_subtitle {
    font-size: 14px;
  }
}